.menu_btn{
    width: 30%;
    margin: 3%;
    aspect-ratio: 1/1;
    border: none;
}
.menu_container{
   text-align: center;
}
.left_section_container{
    animation: left_section 2s;
    width: 90%;
    background-color: #00ffe9;
    color: #011c22;
    height: 60%;
}
@keyframes left_section {
    from{width: 0;height: 0;}
    to{width: 90%;height: 60%; }
}